body {
    display: flex;
flex-direction: column;
align-items: center;
gap: 3px;
}
header {
    align-items: center;
    align-self: stretch;
}
nav {
display: flex; 
padding: 32px 0px;
justify-content: center;
align-items: center;
gap: 72px;
}
.menu-div {
    color: #000;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 135%; /* 24.3px */
}
a {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 24.3px */
    text-decoration: none;
}

img {
width: 1400px;
height: 552px;
padding: 92px 400px 92px 401px;
align-items: center;
background: #00BDC9;
margin-bottom: 88px;
}
h2 { 
    align-self: stretch;
    color: #000;
text-align: center;
font-family: Inter;
font-size: 48px;
font-style: normal;
font-weight: 600;
line-height: 135%; /* 64.8px */
margin: none;
 }

.content-div {
align-items: center;

}

section {
width: 856px ;
gap: 24px;
padding-bottom: 40px;
}
p {
    color: #161616;
font-family: Inter;
font-size: 21px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 31.5px */
}
span {
    color: #04959E;
    font-weight: 600;

}
    
ol {
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}    


.p-footer {
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: #161616;
    width: 146px;
    height: 27px;
    padding: 16px, 0px, 16px, 0px;
    justify: space-between;
    font-style: normal;
    
}

.button {
padding: 10px 24px;
align-items: center;
background: #04959E;
color: #FFF;
text-align: center;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 135%; /* 24.3px */
margin: auto;
}

footer {
    border-top: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin-top: 50px;

}
